.DS_Store
Thumbs.db

data/clearnet/public/*
data/clearnet/remote/*
data/restricted/*
data/

install.sh

!data/clearnet/.gitkeep
!data/restricted/.gitkeep

tor_keys/
caddy_data/
caddy_config/
caddy_routing/
*.log
